Kingsoft/
QtProject.conf
VirtualBox/
clash/
coc/
dconf/
fcitx/
google-chrome/
microsoft-edge/
menus/
# lazygit/*
# !lazygit/config.yaml
mimeapps.list
navicat/
nvim/
# nvim/lazy-lock.json
composer/
vlc/
github-copilot/
transmission/
yarn/
configstore/
nvm/
go/
git/
